@use "settings" as s;

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: s.$font-body;
  font-size: s.$font-size-body;
  line-height: s.$line-height-normal;
  background-color: s.$background-color;
  color: s.$light-color;
  letter-spacing: 1.2px;
}



h1, h2, h3, h4, h5, h6 { font-family: s.$font-head; color: s.$primary-color; }

a {
    text-decoration: none;

    &:hover {
        color: unset;
        text-decoration: none;
    }
}
