@use "../variables" as v;

#splash {
  height: 100vh; // Adjusting for the height of the navbar;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  padding-top: 80px;

  @media (max-width: 768px) {
    flex-direction: column;
    overflow: visible;
    height: auto;
  }

  .splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    @media (max-width: 768px) {
      align-items: center;
      text-align: center;
      padding: 5rem 0;
      min-height: 100vh;
    }

    .page-title {
      color: v.$light-color;
      font-family: v.$font-head;
      text-transform: uppercase;
      line-height: 120%;
      font-style: italic;
      font-weight: bold;
      font-size: 52px;
    }

    .cta-text {
      font-size: 1rem;
      color: v.$grey-color;
      margin: 1rem 0 32px 0;
      line-height: 150%;
    }

    .line-separator {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 2px;
      background-color: #999;
      margin: 0 8px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .splash-image {
    position: fixed;
    padding-top: 80px;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -99;
    overflow: hidden;

    @media (max-width: 768px) {
      padding-top: 0px; // Adjusting for smaller screens
      position: relative;
      min-height: 100vh;
      padding: 5rem 0;
      top: 100%;
      width: 90%;
    }

    .imgage-desctop {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .imgage-small {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;

      border-radius: 0.6rem;
      border: 1px solid v.$gold-color-light;
      box-shadow: v.$box-shadow;

      @media (max-width: 768px) {
        display: block;
      }
    }
  }
}

#quote,
#cards {
  background-color: v.$background-color;
}

#quote {
  padding: 112px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  .quote-heading {
    font-size: 40px;
    font-weight: bold;
    line-height: 120%;
    max-width: 768px;
    text-align: center;
    color: v.$gold-color-light;

    @media (max-width: 768px) {
      width: 90%;
    }
  }
  .text-quote {
    line-height: 150%;
    font-size: 18px;
    max-width: 768px;

    @media (max-width: 768px) {
      width: 90%;
    }
  }
}

#cards {
  padding: 112px 0;

  .custom-card-row {
    row-gap: 80px;
  }
}
