@use "../variables" as v;

#splash {
  height: calc(90vh - 80px); // Adjusting for the height of the navbar;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  // padding-top: 80px;

  @media (max-width: 768px) {
    flex-direction: column;
    overflow: visible;
    height: auto;
  }

  .splash-inner {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 20px;

    @media (max-width: 768px) {
      align-items: center;
      text-align: center;
      padding: 5rem 0;
      min-height: 100vh;
    }

    .page-title {
      color: v.$light-color;
      font-family: v.$font-head;
      text-transform: uppercase;
      line-height: 120%;
      font-style: italic;
      font-weight: bold;
      font-size: 52px;
    }

    .cta-text {
      font-size: 1rem;
      color: v.$grey-color;
      margin: 1rem 0 32px 0;
      line-height: 150%;
    }

    .line-separator {
      display: inline-block;
      vertical-align: middle;
      width: 30px;
      height: 2px;
      background-color: #999;
      margin: 0 8px;

      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .splash-image {
    position: fixed;
    // padding-top: 80px;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: -99;
    overflow: hidden;

    @media (max-width: 768px) {
      padding-top: 0px; // Adjusting for smaller screens
      position: relative;
      min-height: 100vh;
      padding: 5rem 0;
      top: 100%;
      width: 90%;
    }

    .imgage-desctop {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;

      @media (max-width: 768px) {
        display: none;
      }
    }

    .imgage-small {
      display: none;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;

      border-radius: 0.6rem;
      border: 1px solid v.$gold-color-light;
      box-shadow: v.$box-shadow;

      @media (max-width: 768px) {
        display: block;
      }
    }
  }
}

#quote {
  background-color: v.$background-color;
  
  padding: 112px 0;
  position: relative;
  overflow: hidden;

  .o-nas-wrap {
    display: flex;
    gap: 30px;
    align-items: center;
     border-bottom: 1px solid v.$primary-color;
    padding: 0 0 20px 0;

    img {
      height: 112px;
    }
  }

  .quote-heading {
    font-weight: lighter;
    line-height: 1.8;
    max-width: 760px;
    text-align: left;
    color: v.$gold-color-light;
   


    @media (max-width: 768px) {
      width: 100%;
      max-width: 1200px;
    }
  }

  .text-quote {
    line-height: 150%;
    text-align: right;
    margin-bottom: 0;
    margin-top: 30px;

    @media (max-width: 768px) {
      width: 100%;
      max-width: 1200px;
    }
  }
}

#cards {
  background-color: v.$background-color;
  min-height: 100vh;
  text-transform: uppercase;
  padding: 0 0 80px 0;

  .section-title {
    font-weight: lighter;
    font-size: 40px;
    margin-bottom: 20px;
    padding: 10px 0;
  }

  .announcement-card-1,
  .announcement-card-2,
  .announcement-card-3,
  .announcement-card-4,
  .announcement-card-5,
  .announcement-card-6 {
    border: 1px solid v.$primary-color;
    border-radius: v.$border-radius;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    cursor: pointer;
    color: v.$light-color;

    &:hover {
      color: v.$black-color;
      box-shadow: v.$box-shadow;
      transform: translateY(-5px);
      transition: 0.3s ease-in-out;
      background-color: v.$primary-color;
    }

    .card-title {
      font-family: v.$font-body;
      font-size: 1rem;
      font-weight: lighter;
    }

    .card-more {
      color: v.$light-color;
      transition: 0.2s linear;
      text-align: right;
      width: 100%;

      &:hover {
        color: v.$primary-color;
      }
    }
  }

  .announcement-card-1 {
    height: 580px;
    margin-bottom: 20px;
    width: 70%;

    @media (max-width: 992px) {
      height: auto;
      width: 100%;
    }

    .img-wrap {
      width: 80%;
      max-height: 360px;

      img {
        box-shadow: 0 0 10px rgb(0, 0, 0.5);
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: v.$border-radius;
      }
    }
  }

  .announcement-card-2,
  .announcement-card-3,
  .announcement-card-4,
  .announcement-card-5,
  .announcement-card-6 {
    height: 280px;

    @media (max-width: 992px) {
      height: auto;
    }
  }

  .announcement-card-2 {
    margin-bottom: 20px;

    .img-wrap {
      width: 100%;
      height: 100px;
      border-radius: 60px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }
  }

  .announcement-card {
    display: flex;
    flex-direction: column;

    .cart-wrapper {
      display: flex;
      gap: 20px;
    }
  }

  .announcement-card {
    display: flex;
    flex-direction: column;
    // gap: 20px;

    .cart-wrapper {
      display: flex;
      // gap: 20px;

      @media (max-width: 992px) {
        flex-direction: column;
      }
    }
  }

  .carts-row {
    display: flex;
    width: 100%;
    gap: 20px;
    justify-content: flex-end;
  }

 
}
