@use "../variables.scss" as v;

.input-group {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  font-family:v.$font-body;

  .label   { font-size: .75rem; color:v.$light-color; }
  .helper  { font-size: .75rem; color:v.$light-grey-color; margin-top:.25rem; }

  input {
    background:v.$black-color;
    border: 2px solid v.$light-grey-color;
    color:v.$light-color;
    padding: .75rem 1rem;
    border-radius: 0;
    transition: border-color .3s;

    &::placeholder { color:v.$light-grey-color; }
    &:hover        { border-color:v.$primary-color; }
    &:focus        { border-color:v.$primary-color; outline: none; }
    &.error        { border-color:v.$danger-color; }
    &:disabled     { background:v.$black-color; color:v.$light-grey-color; }
  }

  &.error .helper { color:v.$danger-color; }
}