@use "../variables.scss" as v;

.custom-nav {
  background-color: v.$black-color;
  width: 100%;
  z-index: 1000;
  // position: fixed;


  .logo-wrap {
    height: auto;
    width: 80px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  
  .navbar-nav {
    max-height: 80vh;
    overflow: auto;
  }
 
  .nav-link {
    color: v.$grey-color;
    margin: 0 v.$spacing-sm;

    &:hover {
      color: v.$primary-color;
    }

    @media (max-width: 768px) {
      margin: 10px;
    }
  }

  .intencion {
    width: 140px;
    align-self: center;
   
    @media (max-width: 768px) {
      width: 100%;
    }
  }

  .navbar-toggler {
    border: none;
    padding: 0.5rem;

    .navbar-toggler-icon {
      $line: #{escape-svg("M1 3h22M1 12h22M1 21h22")};
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke="%23fff" stroke-width="2" stroke-linecap="round"><path d="M1 3h22M1 12h22M1 21h22"/></svg>');
      transition: background-image 0.3s, filter 0.3s;
      filter: none;
    }
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999; 
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.backdrop.active {
  opacity: 1;
  pointer-events: auto;
}

.no-scroll {
  overflow: hidden;
  height: 100vh; 
}

// Custom SVG for the toggler icon when collapsed
// This is used to replace the default Bootstrap icon with a custom one
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  $x: #{escape-svg("M3 3l18 18M21 3L3 21")};
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" stroke="%23fff" stroke-width="2" ><path d="M3 3l18 18M21 3l-18 18"/></svg>');
  filter: none;
}

