@use "../settings.scss" as s;

.input-group {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  font-family: s.$font-body;

  .label   { font-size: .75rem; color: s.$light-color; }
  .helper  { font-size: .75rem; color: s.$light-grey-color; margin-top:.25rem; }

  input {
    background: s.$black-color;
    border: 2px solid s.$light-grey-color;
    color: s.$light-color;
    padding: .75rem 1rem;
    border-radius: 0;
    transition: border-color .3s;

    &::placeholder { color: s.$light-grey-color; }
    &:hover        { border-color: s.$primary-color; }
    &:focus        { border-color: s.$primary-color; outline: none; }
    &.error        { border-color: s.$danger-color; }
    &:disabled     { background: s.$black-color; color: s.$light-grey-color; }
  }

  &.error .helper { color: s.$danger-color; }
}